html {
    cursor: none;
    --text: #fff;
    background: #001220;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1.5rem;
}

nav {
    width: 100%;
    color: black;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-radius: 5rem;
    backdrop-filter: blur(4px);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

nav ul li {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--text);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    transition: font-size 300ms ease-out;
    font-size: 20vw;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




@media (min-width: 1200px) {
    h2 {
        font-size: 16.5rem;
    }
}

#press {
    background: url("svg image link");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#shop {
    background: url("svg image lik");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background: #c61266;
}

#shop h2 {
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    background: url("svg image link");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    pointer-events: none;
}

.cursor div {
    position: absolute;
    display: grid;
    place-items: center;
}

.cursor div div {
    border: 1px solid #fff;
    border-radius: 50%;
    animation: pulse 2.5s infinite;
}

.cursor div:nth-child(1),
.cursor div:nth-child(2) {
    width: 100%;
    height: 100%;
}

.cursor div:nth-child(1) {
    transition: transform 0.2s ease-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.25);
        opacity: 0.25;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-150%);
    }
    to {
        opacity: 1;
        transform: translateY(var(--slide-translate-y));
    }
}

.cursor div:nth-child(2) {
    transition: 0.1s ease-in-out; 
}

.cursor div:nth-child(2) div {
    background: #fff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

*[data-animate=true] {
    opacity: 0;
}

.animate-slide-down {
    animation: slide-down 300ms ease-out forwards;
}